* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Poppins", Sans-serif;;
}
section {
    margin: 50px auto;
}
h2 {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin: 20px 0;
}
h3 {
    font-size: 18px;
    font-weight: 300;
}
.btn {
    text-align: center;
    margin-top: 60px;
    padding: 0;
}
.btn a {
    text-decoration: none;
    padding: 15px 30px;
    background: #000;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}
.btn a:hover {
    box-shadow: 0 0 10px #fff;
}
img {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.first-item {
    flex-basis: 25%;
    background: #609386;
    color: #fff;
    padding: 60px 30px 30px 30px;
    border-radius: 20px;
    position: relative;
}
.first-item img {
    position: absolute;
    right: 0;
    bottom: -12px;
}
.second-item {
    flex-basis: 50%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-item .top {
    flex-basis: 100%;
    background: #DFDFDF;
    padding: 60px 30px 30px 30px;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
}
.second-item .top h2 {
    max-width: 80%;
}
.second-item .top .btn {
    text-align: left;
}
.second-item .top .btn a {
    background: #fff;
    color: #000;
}
.second-item .top img {
    position: absolute;
    width: 30%;
    right:  -12px;
    bottom: -12px;
}
.second-item .bottom {
    flex-basis: 100%;
    background: #D33048;
    color: #fff;
    padding: 60px 30px 30px 30px;
    border-radius: 20px;
    margin-top: 15px;
    position: relative;
}
.second-item .bottom h2 {
    max-width: 80%;
}
.second-item .bottom .btn {
    text-align: left;
}
.second-item .bottom .btn a {
    background: #000;
    color: #fff;
}
.second-item .bottom img {
    position: absolute;
    width: 30%;
    right: -12px;
    bottom: -12px;
}
.third-item {
    flex-basis: 25%;
    background: #000000;
    color: #fff;
    padding: 60px 30px 30px 30px;
    border-radius: 20px;
    position: relative;
}
.third-item .btn a {
    background: #D3E026;
    color: #000;
}
.third-item img {
    position: absolute;
    width: 80%;
    right: 30px;
    bottom: -12px;
}